*{
	margin: 0px;
	padding: 0px;
}

.dropdown-menu a{
	color: black;
}
#d .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
   
}

.navbar{
	background-color: white;
}
.navbar-brand img{
	width: 71%;
}
#navbarSupportedContent ul li{
	padding: 0px 20px;
}
#navbarNavDropdown ul li a{
	color: black;
}
#navbarNavDropdown ul li:hover {
	background-color: rgb(4, 71, 73);
}
#navbarSupportedContent ul li a:hover{
	font-weight: bold;
	color: rgb(27, 8, 95);
}
.rr{
	color:black;
}
.navbar-nav{
	color: black;
}
.header{
	height: 50px;
	width: 100%;
	background-color: blue;
}
.header .container .float-left li a{
	color: white;
}
.header .container .float-right li a i{
	font-size: 15px;
	color: white;
}
#d1{
	border: none;
}
#Services:hover #d1{
	display: block;
}
  
 #d .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
   
}

#d1{
    border: none;
}
#d2{
    border:none;
}
#d2 a:hover{
    border-bottom:2px solid darkblue;
}
#d1 a:hover{
    border-bottom:2px solid darkblue;


}

.banner{
	margin-top:5%;
}
.banner .row{
	width: 100%;
}
#xx .row .mm video{
    width: 100%;
	height: auto;
    border-bottom-right-radius:500px;
    border-top-right-radius:500px;
    border:none;
}
#xx .row .jj .pro{
	font-size:6vw;
	padding-top:10vw;
}

#product .row .col-md-3 .card img{
	width:100%;
	
}

#product .row .col-md-3{
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5),
	            inset -5px -5px 5px rgba(255,255,255,0.5),
	            5px 5px 5px rgba(0,0,0,0.5),
	            -5px -5px 5px rgba(255,255,255,0.5);
	border-radius: 15px;
}
#product:hover .card .card-body a{
	background: #ff568f;

}
#product .row .col-md-3 .card .card-body .card-title button{
    border-radius: 20px;
    border: none;
    background-color:rgb(126, 187, 189);
    color: cornsilk;
}



#product .row .col-md-3 .card{
	display: inline-block;
	width:100%;
	background: #ebf5fc;
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);
	border-radius: 15px;
	justify-content: center;
	align-items: center;
	transition:0.5s;

}


#product .row .col-md-3 .card .card-body{
	text-align: center;

}

#product .row .col-md-3 .card .card-body .card-title{
	
	color: #777;
	transition: 0.6s;
	z-index: 1;

}
 #product .row .col-md-3.card .card-body button{
	border-radius: 50px;
}
#product .row .col-md-3{
	background-color: rgba(116, 185, 255,1.0) ;
}
 
#product .row .col-md-3:hover .card{
	transform: translateY(-50px);
	box-shadow: 0 10px 40px rgba(0,0,0,0.2); 
 background:linear-gradient(to bottom, green, rgba(116, 185, 255,1.0));
 color: white;

}

#product .row .col-md-3:hover .card .card-body .card-title{
	color:#fff;
	cursor: pointer;
}

#product  h1{

	border-bottom:5px solid darkgray;

}
#body{
	height: 350px;
	overflow-y: auto;
}







#med .row .col-md-3 .card img{
	width:100%;
	
}

#med .row .col-md-3{
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5),
	            inset -5px -5px 5px rgba(255,255,255,0.5),
	            5px 5px 5px rgba(0,0,0,0.5),
	            -5px -5px 5px rgba(255,255,255,0.5);
	border-radius: 15px;
}
#med:hover .card .card-body a{
	background: #ff568f;

}
#med .row .col-md-3 .card .card-body .card-title button{
    border-radius: 20px;
    border: none;
    background-color:rgb(126, 187, 189);
    color: cornsilk;
}



#med .row .col-md-3 .card{
	display: inline-block;
	width:100%;
	background: #ebf5fc;
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);
	border-radius: 15px;
	justify-content: center;
	align-items: center;
	transition:0.5s;

}


#med .row .col-md-3 .card .card-body{
	text-align: center;

}

#med .row .col-md-3 .card .card-body .card-title{
	
	color: #777;
	transition: 0.6s;
	z-index: 1;

}
 #med .row .col-md-3.card .card-body button{
	border-radius: 50px;
}
#med .row .col-md-3{
	background-color: rgba(116, 185, 255,1.0) ;
}
 
#med .row .col-md-3:hover .card{
	transform: translateY(-50px);
	box-shadow: 0 10px 40px rgba(0,0,0,0.2); 
 background:linear-gradient(to bottom, green, rgba(116, 185, 255,1.0));
 color: white;

}

#med .row .col-md-3:hover .card .card-body .card-title{
	color:#fff;
	cursor: pointer;
}

#med  h1{

	border-bottom:5px solid darkgray;

}
#body{
	height: 350px;
	overflow-y: auto;
}




#abbott .row .col-md-3 .card img{
	width:100%;
	
}

#abbott .row .col-md-3{
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5),
	            inset -5px -5px 5px rgba(255,255,255,0.5),
	            5px 5px 5px rgba(0,0,0,0.5),
	            -5px -5px 5px rgba(255,255,255,0.5);
	border-radius: 15px;
}
#abbott:hover .card .card-body a{
	background: #ff568f;

}
#abbott .row .col-md-3 .card .card-body .card-title button{
    border-radius: 20px;
    border: none;
    background-color:rgb(126, 187, 189);
    color: cornsilk;
}



#abbott .row .col-md-3 .card{
	display: inline-block;
	width:100%;
	background: #ebf5fc;
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);
	border-radius: 15px;
	justify-content: center;
	align-items: center;
	transition:0.5s;

}


#abbott .row .col-md-3 .card .card-body{
	text-align: center;

}

#abbott .row .col-md-3 .card .card-body .card-title{
	
	color: #777;
	transition: 0.6s;
	z-index: 1;

}
 #abbott .row .col-md-3.card .card-body button{
	border-radius: 50px;
}
#abbott .row .col-md-3{
	background-color: rgba(116, 185, 255,1.0) ;
}
 
#abbott .row .col-md-3:hover .card{
	transform: translateY(-50px);
	box-shadow: 0 10px 40px rgba(0,0,0,0.2); 
 background:linear-gradient(to bottom, green, rgba(116, 185, 255,1.0));
 color: white;

}

#abbott .row .col-md-3:hover .card .card-body .card-title{
	color:#fff;
	cursor: pointer;
}

#abbott  h1{

	border-bottom:5px solid darkgray;

}
#body{
	height: 350px;
	overflow-y: auto;
}








#cordis .row .col-md-3 .card img{
	width:100%;
	
}

#cordis .row .col-md-3{
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5),
	            inset -5px -5px 5px rgba(255,255,255,0.5),
	            5px 5px 5px rgba(0,0,0,0.5),
	            -5px -5px 5px rgba(255,255,255,0.5);
	border-radius: 15px;
}
#cordis:hover .card .card-body a{
	background: #ff568f;

}
#cordis .row .col-md-3 .card .card-body .card-title button{
    border-radius: 20px;
    border: none;
    background-color:rgb(126, 187, 189);
    color: cornsilk;
}



#cordis .row .col-md-3 .card{
	display: inline-block;
	width:100%;
	background: #ebf5fc;
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);
	border-radius: 15px;
	justify-content: center;
	align-items: center;
	transition:0.5s;

}


#cordis .row .col-md-3 .card .card-body{
	text-align: center;

}

#cordis .row .col-md-3 .card .card-body .card-title{
	
	color: #777;
	transition: 0.6s;
	z-index: 1;

}
 #cordis .row .col-md-3.card .card-body button{
	border-radius: 50px;
}
#cordis .row .col-md-3{
	background-color: rgba(116, 185, 255,1.0) ;
}
 
#cordis .row .col-md-3:hover .card{
	transform: translateY(-50px);
	box-shadow: 0 10px 40px rgba(0,0,0,0.2); 
 background:linear-gradient(to bottom, green, rgba(116, 185, 255,1.0));
 color: white;

}

#cordis .row .col-md-3:hover .card .card-body .card-title{
	color:#fff;
	cursor: pointer;
}

#cordis  h1{

	border-bottom:5px solid darkgray;

}
#body{
	height: 350px;
	overflow-y: auto;
}





#Edward .row .col-md-3 .card img{
	width:100%;
	
}

#Edward .row .col-md-3{
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5),
	            inset -5px -5px 5px rgba(255,255,255,0.5),
	            5px 5px 5px rgba(0,0,0,0.5),
	            -5px -5px 5px rgba(255,255,255,0.5);
	border-radius: 15px;
}
#Edward:hover .card .card-body a{
	background: #ff568f;

}
#Edward .row .col-md-3 .card .card-body .card-title button{
    border-radius: 20px;
    border: none;
    background-color:rgb(126, 187, 189);
    color: cornsilk;
}



#Edward .row .col-md-3 .card{
	display: inline-block;
	width:100%;
	background: #ebf5fc;
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);
	border-radius: 15px;
	justify-content: center;
	align-items: center;
	transition:0.5s;

}


#Edward .row .col-md-3 .card .card-body{
	text-align: center;

}

#Edward .row .col-md-3 .card .card-body .card-title{
	
	color: #777;
	transition: 0.6s;
	z-index: 1;

}
 #Edward .row .col-md-3.card .card-body button{
	border-radius: 50px;
}
#Edward .row .col-md-3{
	background-color: rgba(116, 185, 255,1.0) ;
}
 
#Edward .row .col-md-3:hover .card{
	transform: translateY(-50px);
	box-shadow: 0 10px 40px rgba(0,0,0,0.2); 
 background:linear-gradient(to bottom, green, rgba(116, 185, 255,1.0));
 color: white;

}

#Edward .row .col-md-3:hover .card .card-body .card-title{
	color:#fff;
	cursor: pointer;
}

#Edward  h1{

	border-bottom:5px solid darkgray;

}
#body{
	height: 350px;
	overflow-y: auto;
}




#EdwFresenius .row .col-md-3 .card img{
	width:100%;
	
}

#EdwFresenius .row .col-md-3{
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5),
	            inset -5px -5px 5px rgba(255,255,255,0.5),
	            5px 5px 5px rgba(0,0,0,0.5),
	            -5px -5px 5px rgba(255,255,255,0.5);
	border-radius: 15px;
}
#EdwFresenius:hover .card .card-body a{
	background: #ff568f;

}
#EdwFresenius .row .col-md-3 .card .card-body .card-title button{
    border-radius: 20px;
    border: none;
    background-color:rgb(126, 187, 189);
    color: cornsilk;
}



#EdwFresenius .row .col-md-3 .card{
	display: inline-block;
	width:100%;
	background: #ebf5fc;
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);
	border-radius: 15px;
	justify-content: center;
	align-items: center;
	transition:0.5s;

}


#EdwFresenius .row .col-md-3 .card .card-body{
	text-align: center;

}

#EdwFresenius .row .col-md-3 .card .card-body .card-title{
	
	color: #777;
	transition: 0.6s;
	z-index: 1;

}
 #EdwFresenius .row .col-md-3.card .card-body button{
	border-radius: 50px;
}
#EdwFresenius .row .col-md-3{
	background-color: rgba(116, 185, 255,1.0) ;
}
 
#EdwFresenius .row .col-md-3:hover .card{
	transform: translateY(-50px);
	box-shadow: 0 10px 40px rgba(0,0,0,0.2); 
 background:linear-gradient(to bottom, green, rgba(116, 185, 255,1.0));
 color: white;

}

#EdwFresenius .row .col-md-3:hover .card .card-body .card-title{
	color:#fff;
	cursor: pointer;
}

#EdwFresenius  h1{

	border-bottom:5px solid darkgray;

}
#body{
	height: 350px;
	overflow-y: auto;
}





#Asahi .row .col-md-3 .card img{
	width:100%;
	
}

#Asahi .row .col-md-3{
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5),
	            inset -5px -5px 5px rgba(255,255,255,0.5),
	            5px 5px 5px rgba(0,0,0,0.5),
	            -5px -5px 5px rgba(255,255,255,0.5);
	border-radius: 15px;
}
#Asahi:hover .card .card-body a{
	background: #ff568f;

}
#Asahi .row .col-md-3 .card .card-body .card-title button{
    border-radius: 20px;
    border: none;
    background-color:rgb(126, 187, 189);
    color: cornsilk;
}



#Asahi .row .col-md-3 .card{
	display: inline-block;
	width:100%;
	background: #ebf5fc;
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);
	border-radius: 15px;
	justify-content: center;
	align-items: center;
	transition:0.5s;

}


#Asahi .row .col-md-3 .card .card-body{
	text-align: center;

}

#Asahi .row .col-md-3 .card .card-body .card-title{
	
	color: #777;
	transition: 0.6s;
	z-index: 1;

}
 #Asahi .row .col-md-3.card .card-body button{
	border-radius: 50px;
}
#Asahi .row .col-md-3{
	background-color: rgba(116, 185, 255,1.0) ;
}
 
#Asahi .row .col-md-3:hover .card{
	transform: translateY(-50px);
	box-shadow: 0 10px 40px rgba(0,0,0,0.2); 
 background:linear-gradient(to bottom, green, rgba(116, 185, 255,1.0));
 color: white;

}

#Asahi .row .col-md-3:hover .card .card-body .card-title{
	color:#fff;
	cursor: pointer;
}

#Asahi  h1{

	border-bottom:5px solid darkgray;

}
#body{
	height: 350px;
	overflow-y: auto;
}



#Boston .row .col-md-3 .card img{
	width:100%;
	
}

#Boston .row .col-md-3{
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5),
	            inset -5px -5px 5px rgba(255,255,255,0.5),
	            5px 5px 5px rgba(0,0,0,0.5),
	            -5px -5px 5px rgba(255,255,255,0.5);
	border-radius: 15px;
}
#Boston:hover .card .card-body a{
	background: #ff568f;

}
#Boston .row .col-md-3 .card .card-body .card-title button{
    border-radius: 20px;
    border: none;
    background-color:rgb(126, 187, 189);
    color: cornsilk;
}



#Boston .row .col-md-3 .card{
	display: inline-block;
	width:100%;
	background: #ebf5fc;
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);
	border-radius: 15px;
	justify-content: center;
	align-items: center;
	transition:0.5s;

}


#Boston .row .col-md-3 .card .card-body{
	text-align: center;

}

#Boston .row .col-md-3 .card .card-body .card-title{
	
	color: #777;
	transition: 0.6s;
	z-index: 1;

}
 #Boston .row .col-md-3.card .card-body button{
	border-radius: 50px;
}
#Boston .row .col-md-3{
	background-color: rgba(116, 185, 255,1.0) ;
}
 
#Boston .row .col-md-3:hover .card{
	transform: translateY(-50px);
	box-shadow: 0 10px 40px rgba(0,0,0,0.2); 
 background:linear-gradient(to bottom, green, rgba(116, 185, 255,1.0));
 color: white;

}

#Boston .row .col-md-3:hover .card .card-body .card-title{
	color:#fff;
	cursor: pointer;
}

#Boston  h1{

	border-bottom:5px solid darkgray;

}
#body{
	height: 350px;
	overflow-y: auto;
}




#Sapphire .row .col-md-3 .card img{
	width:100%;
	
}

#Sapphire .row .col-md-3{
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5),
	            inset -5px -5px 5px rgba(255,255,255,0.5),
	            5px 5px 5px rgba(0,0,0,0.5),
	            -5px -5px 5px rgba(255,255,255,0.5);
	border-radius: 15px;
}
#Sapphire:hover .card .card-body a{
	background: #ff568f;

}
#Sapphire .row .col-md-3 .card .card-body .card-title button{
    border-radius: 20px;
    border: none;
    background-color:rgb(126, 187, 189);
    color: cornsilk;
}



#Sapphire .row .col-md-3 .card{
	display: inline-block;
	width:100%;
	background: #ebf5fc;
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);
	border-radius: 15px;
	justify-content: center;
	align-items: center;
	transition:0.5s;

}


#Sapphire .row .col-md-3 .card .card-body{
	text-align: center;

}

#Sapphire .row .col-md-3 .card .card-body .card-title{
	
	color: #777;
	transition: 0.6s;
	z-index: 1;

}
 #Sapphire .row .col-md-3.card .card-body button{
	border-radius: 50px;
}
#Sapphire .row .col-md-3{
	background-color: rgba(116, 185, 255,1.0) ;
}
 
#Sapphire .row .col-md-3:hover .card{
	transform: translateY(-50px);
	box-shadow: 0 10px 40px rgba(0,0,0,0.2); 
 background:linear-gradient(to bottom, green, rgba(116, 185, 255,1.0));
 color: white;

}

#Sapphire .row .col-md-3:hover .card .card-body .card-title{
	color:#fff;
	cursor: pointer;
}

#Sapphire  h1{

	border-bottom:5px solid darkgray;

}
#body{
	height: 350px;
	overflow-y: auto;
}





<!------st------>


#ST .row .col-md-3 .card img{
	width:100%;
	
}

#ST .row .col-md-3{
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5),
	            inset -5px -5px 5px rgba(255,255,255,0.5),
	            5px 5px 5px rgba(0,0,0,0.5),
	            -5px -5px 5px rgba(255,255,255,0.5);
	border-radius: 15px;
}
#ST:hover .card .card-body a{
	background: #ff568f;

}
#ST .row .col-md-3 .card .card-body .card-title button{
    border-radius: 20px;
    border: none;
    background-color:rgb(126, 187, 189);
    color: cornsilk;
}



#ST .row .col-md-3 .card{
	display: inline-block;
	width:100%;
	background: #ebf5fc;
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);
	border-radius: 15px;
	justify-content: center;
	align-items: center;
	transition:0.5s;

}


#ST .row .col-md-3 .card .card-body{
	text-align: center;

}

#ST .row .col-md-3 .card .card-body .card-title{
	
	color: #777;
	transition: 0.6s;
	z-index: 1;

}
 #ST .row .col-md-3.card .card-body button{
	border-radius: 50px;
}
#ST .row .col-md-3{
	background-color: rgba(116, 185, 255,1.0) ;
}
 
#ST .row .col-md-3:hover .card{
	transform: translateY(-50px);
	box-shadow: 0 10px 40px rgba(0,0,0,0.2); 
 background:linear-gradient(to bottom, green, rgba(116, 185, 255,1.0));
 color: white;

}

#ST .row .col-md-3:hover .card .card-body .card-title{
	color:#fff;
	cursor: pointer;
}

#ST  h1{

	border-bottom:5px solid darkgray;

}
#body{
	height: 350px;
	overflow-y: auto;
}





#Nipro .row .col-md-3 .card img{
	width:100%;
	
}

#Nipro .row .col-md-3{
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5),
	            inset -5px -5px 5px rgba(255,255,255,0.5),
	            5px 5px 5px rgba(0,0,0,0.5),
	            -5px -5px 5px rgba(255,255,255,0.5);
	border-radius: 15px;
}
#Nipro:hover .card .card-body a{
	background: #ff568f;

}
#Nipro .row .col-md-3 .card .card-body .card-title button{
    border-radius: 20px;
    border: none;
    background-color:rgb(126, 187, 189);
    color: cornsilk;
}



#Nipro .row .col-md-3 .card{
	display: inline-block;
	width:100%;
	background: #ebf5fc;
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);
	border-radius: 15px;
	justify-content: center;
	align-items: center;
	transition:0.5s;

}


#NiproT .row .col-md-3 .card .card-body{
	text-align: center;

}

#Nipro .row .col-md-3 .card .card-body .card-title{
	
	color: #777;
	transition: 0.6s;
	z-index: 1;

}
 #Nipro .row .col-md-3.card .card-body button{
	border-radius: 50px;
}
#Nipro .row .col-md-3{
	background-color: rgba(116, 185, 255,1.0) ;
}
 
#Nipro .row .col-md-3:hover .card{
	transform: translateY(-50px);
	box-shadow: 0 10px 40px rgba(0,0,0,0.2); 
 background:linear-gradient(to bottom, green, rgba(116, 185, 255,1.0));
 color: white;

}

#Nipro .row .col-md-3:hover .card .card-body .card-title{
	color:#fff;
	cursor: pointer;
}

#Nipro  h1{

	border-bottom:5px solid darkgray;

}
#body{
	height: 350px;
	overflow-y: auto;
}



